
<div class="anuncio">
    <app-anuncio></app-anuncio>
    <div class="botones">
        <img src="tuprocesoya.png" alt="">
        <button>➡️ ir a la app</button>
    </div>

    <div class="video-grid">
  @for (video of videos; track $index) {
    <div class="video-card">
      <img [src]="video.url" [alt]="video.caption">
      <p>{{ video.caption }}</p>
    </div>
  }
</div>
</div>

<div class="infos">
    @for (card of infoCards; track $index) {
    <div class="info-card">
        <h3>{{ card.title }}</h3>
        <img [src]="card.image" alt="imagen">
        <p>{{ card.description }}</p>
    </div>
    }
</div>


<div class="texto">
    <div class="mision">
        <h3>Nuestra Misión</h3>
        <p>Humanizar el acceso a la justicia para las personas condenadas y sus familias,
             poniendo a su alcance una plataforma tecnológica accesible, segura y eficiente.
              A través de nuestra herramienta, facilitamos la gestión de trámites como derechos
               de petición y tutelas, promoviendo la participación activa de los seres queridos
                en los procesos legales, fortaleciendo el vínculo familiar, y brindando claridad,
                 esperanza y autonomía en un momento de vulnerabilidad. Trabajamos para que cada
                  acción jurídica sea un paso hacia la dignidad y el ejercicio real de los derechos.</p>
    </div>


    <div class="vision">
        <h3>Nuestra Visión</h3>
        <p>Aspiramos a consolidarnos como un referente nacional e internacional en la facilitación del
             acceso jurídico para personas condenadas y sus familias, mediante una plataforma tecnológica
              confiable, empática y transformadora. Buscamos impulsar un ecosistema digital que acerque
               a los usuarios a la justicia, promueva la participación de sus seres queridos en los procesos
                legales y contribuya a una sociedad más justa, informada y solidaria. Visualizamos un futuro 
                donde la tecnología sea puente de dignidad, acompañamiento y oportunidades para quienes más lo necesitan.</p>
    </div>
    <hr>
</div>